.container {
    padding-top: 50px;
}
.table-container {
    width: 90%;
    margin: auto;
    table {
        width: 100%;
    }
    .loading-container {
        float: left;
        position: relative;
        p {
            display: inline;
        }
    }
    .button-container {
        text-align: right;
        padding: 20px 0;
    }
}

mat-form-field {
    float: left;
 }

 .mr-20 {
     margin-right: 20px;
 }